<a href="https://colab.research.google.com/github/favasmfsm/hackerearth_carnival_wars/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy as np
import pandas as pd
import datetime
import matplotlib as plt

In [464]:
import numpy as np
import pandas as pd
import datetime
import matplotlib as plt

In [465]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import datasets, linear_model, metrics
from sklearn.feature_selection import RFE

In [466]:
train=pd.read_csv('train.csv')
test= pd.read_csv('test.csv')

In [467]:
train.head()

         Product_id  Stall_no  ... Maximum_price  Selling_Price
0  BRAE2NF6JA5GUEXG      37.0  ...        4713.0    4185.947700
1  TUNE8SFB6RJN2HSD      38.0  ...       10352.0    9271.490256
2  BRAEAR7WZPQGPBZU       9.0  ...        7309.0    6785.701362
3  WATDZ2ZQ8JPDHCTJ      50.0  ...       20814.0   13028.917824
4  JWSEBUKYQPMBZ3RK       7.0  ...        9261.0     906.553935

[5 rows x 15 columns]

In [468]:
train['instock_date']=pd.to_datetime(train['instock_date'])
train['year']=train['instock_date'].dt.year
train['month']=train['instock_date'].dt.month
train['quarter']= train['instock_date'].dt.quarter
train['day_of_week']=train['instock_date'].dt.dayofweek
train['day_of_year']=train['instock_date'].dt.dayofyear
train['hour']=train['instock_date'].dt.hour

In [469]:
train.head()

         Product_id  Stall_no  ... day_of_year  hour
0  BRAE2NF6JA5GUEXG      37.0  ...         234    18
1  TUNE8SFB6RJN2HSD      38.0  ...          87    21
2  BRAEAR7WZPQGPBZU       9.0  ...         230    19
3  WATDZ2ZQ8JPDHCTJ      50.0  ...          88    21
4  JWSEBUKYQPMBZ3RK       7.0  ...          89    22

[5 rows x 21 columns]

In [470]:
test['instock_date']=pd.to_datetime(test['instock_date'])
test['year']=test['instock_date'].dt.year
test['month']=test['instock_date'].dt.month
test['quarter']= test['instock_date'].dt.quarter
test['day_of_week']=test['instock_date'].dt.dayofweek
test['day_of_year']=test['instock_date'].dt.dayofyear
test['hour']=test['instock_date'].dt.hour

In [471]:
test.head()

         Product_id  Stall_no  ... day_of_year  hour
0  SCHE4YSTDVPVZVXW      39.0  ...          13     7
1  ACCEGCATKHNRXUHW      49.0  ...         235    20
2  NKCE6GJ5XVJDXNNZ       1.0  ...         318    18
3  NKCEB8BK3ZXDHDHM       8.0  ...         325     4
4  TOPEFDXSAHRNPF94      33.0  ...         126    15

[5 rows x 20 columns]

In [472]:
train.shape

(6368, 21)

In [473]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   instock_date      6368 non-null   datetime64[ns]
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6330 non-null   float64
 10  charges_1         6170 non-null   float64
 11  charges_2 (%)     6163 non-null   float64
 12  Minimum_price     6330 non-null   float64
 13  Maximum_price     6025 non-null   float64
 14  Selling_Price     6327 non-null   float64
 15  year              6368 non-null   int64
 16  month             6368 non-null   int64
 17  quarter           6368 non-null   int64
 18  day_of_week       6368 non-null   int64
 19  day_of_year       6368 non-null   int64
 20  hour              6368 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(9), object(4)
memory usage: 1.0+ MB

In [474]:
for col in train.columns:
  print(col, train[col].nunique())

Product_id 6368
Stall_no 50
instock_date 5350
Market_Category 248
Customer_name 5900
Loyalty_customer 2
Product_Category 10
Grade 4
Demand 100
Discount_avail 2
charges_1 487
charges_2 (%) 17
Minimum_price 4236
Maximum_price 4618
Selling_Price 6321
year 3
month 11
quarter 4
day_of_week 7
day_of_year 214
hour 24

In [475]:
train.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
year                  0
month                 0
quarter               0
day_of_week           0
day_of_year           0
hour                  0
dtype: int64

In [476]:
train= train[train['Selling_Price'].notna()]

In [477]:
train['Customer_name']=train['Customer_name'].fillna(train['Customer_name'].mode()[0])
train['Maximum_price']=train['Maximum_price'].fillna(train['Maximum_price'].mean())
train['Minimum_price']=train['Minimum_price'].fillna(train['Minimum_price'].mean())
train['charges_1']=train['charges_1'].fillna(train['charges_1'].mean())
train['charges_2 (%)']=train['charges_2 (%)'].fillna(train['charges_2 (%)'].mean())
train['Discount_avail']=train['Discount_avail'].fillna(train['Discount_avail'].mode()[0])
train['Stall_no']=train['Stall_no'].fillna(train['Stall_no'].median())

In [478]:
train.isnull().sum()

Product_id          0
Stall_no            0
instock_date        0
Market_Category     0
Customer_name       0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
Selling_Price       0
year                0
month               0
quarter             0
day_of_week         0
day_of_year         0
hour                0
dtype: int64

In [479]:
train['charges_1(%)']=train['charges_1']/100
train['charges_2']=train['charges_2 (%)']*100
train['total_charges']=train['charges_1']+train['charges_2']
train['range']=train['Maximum_price']-train['Minimum_price']

In [480]:
train.head()

         Product_id  Stall_no  ... total_charges    range
0  BRAE2NF6JA5GUEXG      37.0  ...        1476.0   1730.0
1  TUNE8SFB6RJN2HSD      38.0  ...        1597.0   2857.0
2  BRAEAR7WZPQGPBZU       9.0  ...        1150.0   1557.0
3  WATDZ2ZQ8JPDHCTJ      50.0  ...        1444.0  15724.0
4  JWSEBUKYQPMBZ3RK       7.0  ...         611.0   6831.0

[5 rows x 25 columns]

In [481]:
train=train.drop(['Product_id', 'instock_date'],axis=1 )
train.head()

   Stall_no  Market_Category Customer_name  ... charges_2 total_charges    range
0      37.0                2      Lillyann  ...    1100.0        1476.0   1730.0
1      38.0               24         Klynn  ...    1200.0        1597.0   2857.0
2       9.0              447         Ridge  ...     900.0        1150.0   1557.0
3      50.0               23         Abran  ...    1300.0        1444.0  15724.0
4       7.0               63        Dustyn  ...     400.0         611.0   6831.0

[5 rows x 23 columns]

In [482]:
X=train.drop(['Selling_Price'],axis=1)
y=train['Selling_Price']
#print(X.dtypes)
X=X.iloc[:,:]
y.head()
X.head()

   Stall_no  Market_Category Customer_name  ... charges_2 total_charges    range
0      37.0                2      Lillyann  ...    1100.0        1476.0   1730.0
1      38.0               24         Klynn  ...    1200.0        1597.0   2857.0
2       9.0              447         Ridge  ...     900.0        1150.0   1557.0
3      50.0               23         Abran  ...    1300.0        1444.0  15724.0
4       7.0               63        Dustyn  ...     400.0         611.0   6831.0

[5 rows x 22 columns]

In [483]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
le=LabelEncoder()
X['Loyalty_customer']=le.fit_transform(X['Loyalty_customer'])
#X['Product_Category']=le.fit_transform(X['Product_Category'])
X['Customer_name']=le.fit_transform(X['Customer_name'])
X

      Stall_no  Market_Category  ...  total_charges    range
0         37.0                2  ...         1476.0   1730.0
1         38.0               24  ...         1597.0   2857.0
2          9.0              447  ...         1150.0   1557.0
3         50.0               23  ...         1444.0  15724.0
4          7.0               63  ...          611.0   6831.0
...        ...              ...  ...            ...      ...
6363      17.0               24  ...         1614.0   3092.0
6364      21.0               55  ...          769.0   1356.0
6365      36.0              358  ...          583.0   9311.0
6366      27.0              452  ...          567.0   1515.0
6367      11.0               58  ...         1314.0   1408.0

[6327 rows x 22 columns]

In [484]:
for col in train.columns:
  print(col, train[col].nunique())

Stall_no 50
Market_Category 248
Customer_name 5867
Loyalty_customer 2
Product_Category 10
Grade 4
Demand 100
Discount_avail 2
charges_1 487
charges_2 (%) 18
Minimum_price 4217
Maximum_price 4594
Selling_Price 6321
year 3
month 11
quarter 4
day_of_week 7
day_of_year 214
hour 24
charges_1(%) 487
charges_2 18
total_charges 1914
range 3938

In [485]:
ohe=OneHotEncoder(handle_unknown='ignore')
ohe_pc_df=pd.DataFrame(ohe.fit_transform(X[['Product_Category']]).toarray())
X = X.join(ohe_pc_df,rsuffix='Product_category_is:')

In [486]:
ohe_year_df=pd.DataFrame(ohe.fit_transform(X[['year']]).toarray())
X = X.join(ohe_year_df,rsuffix='year_is:')

In [487]:
X[:30]

    Stall_no  Market_Category  Customer_name  ...  0year_is: 1year_is:  2year_is:
0       37.0                2           3706  ...        0.0       1.0        0.0
1       38.0               24           3427  ...        0.0       0.0        1.0
2        9.0              447           4790  ...        0.0       1.0        0.0
3       50.0               23             67  ...        0.0       0.0        1.0
4        7.0               63           1740  ...        0.0       0.0        1.0
5       23.0              162           1064  ...        0.0       1.0        0.0
6       33.0              462           5842  ...        1.0       0.0        0.0
7        4.0               23           3432  ...        0.0       1.0        0.0
8       26.0              156           5399  ...        0.0       0.0        1.0
9        5.0              275           4413  ...        0.0       1.0        0.0
10      16.0                3           5689  ...        0.0       1.0        0.0
11       1.0              268           3003  ...        0.0       0.0        1.0
12      39.0              188             40  ...        0.0       0.0        1.0
13      45.0              186           3397  ...        0.0       0.0        1.0
14      46.0              358           5129  ...        0.0       0.0        1.0
15      15.0               24              0  ...        0.0       1.0        0.0
16      14.0                1            577  ...        0.0       1.0        0.0
17      17.0                3           2715  ...        0.0       1.0        0.0
18      14.0              294           5453  ...        0.0       1.0        0.0
19      36.0              456           1901  ...        0.0       0.0        1.0
20      24.0              137           2132  ...        0.0       0.0        1.0
21      10.0              250           5179  ...        0.0       1.0        0.0
22      27.0              451           5729  ...        0.0       1.0        0.0
23      40.0              198           5751  ...        0.0       1.0        0.0
24      18.0              451           4414  ...        0.0       1.0        0.0
25      32.0              211           5771  ...        0.0       1.0        0.0
26       9.0              283           1042  ...        0.0       1.0        0.0
27       9.0              236            102  ...        0.0       1.0        0.0
28      19.0              358           2574  ...        0.0       1.0        0.0
29      36.0               23           5284  ...        0.0       1.0        0.0

[30 rows x 35 columns]

In [488]:
X=X.drop(['Product_Category','year'],axis=1)

In [489]:
X

      Stall_no  Market_Category  Customer_name  ...  0year_is:  1year_is:  2year_is:
0         37.0                2           3706  ...        0.0        1.0        0.0
1         38.0               24           3427  ...        0.0        0.0        1.0
2          9.0              447           4790  ...        0.0        1.0        0.0
3         50.0               23             67  ...        0.0        0.0        1.0
4          7.0               63           1740  ...        0.0        0.0        1.0
...        ...              ...            ...  ...        ...        ...        ...
6363      17.0               24           4030  ...        NaN        NaN        NaN
6364      21.0               55           5386  ...        NaN        NaN        NaN
6365      36.0              358           2143  ...        NaN        NaN        NaN
6366      27.0              452           4594  ...        NaN        NaN        NaN
6367      11.0               58           1457  ...        NaN        NaN        NaN

[6327 rows x 33 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Training XGBoost on the Training set
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

In [ ]:
# Training XGBoost on the Training set
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))